<style>
  .contact{
    background-color: #fb6340;
    color: #FFF;
  }
</style>
  <div style="width:400px;margin:20px 0px 10px 65px;border:solid #fb6340;border-left:none;border-right:none;font-size:18px; font-weight:bold;background-color:#fb6340;border-radius: 20px 150px 20px 150px;padding:5px 0px 5px 25px;color:#FFF;">
    Contact Us For Any Query and Support
    </div>
  
  <form class="form" action="/success" method="post" id="uploadForm" name="frmupload" style="border:solid thin #fb6340;margin:0px auto;width:800px;margin-top:20px;">
    
    
  
      
  
    <div style="width:500px; margin:0px auto;">
    <div class="form-field">
      
      <input class="input" placeholder="Enter Name" type="text" class="form-control" name="name" required>
    </div>
    <div class="form-field">
      
      <input class="input" placeholder="Enter Email Address" type="text" class="form-control" name="email" required>
    </div>
    <div class="form-field">
      <input class="input" placeholder="Enter Address" type="text" class="form-control" name="address" required>
    </div>
    <div class="form-field">
      
      <textarea name="query" placeholder="Enter Your Query......."></textarea>
    </div>
   
   
  
    
    
    
    <button id="submitButton" name='btnSubmit' type="submit" class="btn">Submit</button>
  
    <div class='progress' id="progressDivId">
      <div class='progress-bar' id='progressBar'></div>
      <div class='percent' id='percent'>0%</div>
  </div>
  <div style="height: 10px;"></div>
  <div id='outputImage'></div>
  </form>
  </div>
  <div style="clear: both;margin-top: 100px;"></div>