<style>
  li{
    margin-top: 10px;
    color: #fb6340;
    font-size: 18px;
  }
</style>
<div style="width:950px; margin: 0px auto;"> 
  
  <img  src="img/custom.jpg" width="950px" height="220px"  />
  <div style="clear: both;">
  </div>

  <div style="width:350px;margin:40px 0px 10px 20px;border:solid #fb6340;border-left:none;border-right:none;font-size:18px; font-weight:bold;background-color:#fb6340;border-radius: 20px 150px 20px 150px;padding:5px 0px 5px 25px;color:#FFF;">
Custom Softwares Support
</div>

<div style="width: 900px; margin-left:20px;font-size: 16px;text-align: justify;padding-top: 20px;">
  We are providng custom softwares support to user like<span style="color: #fb6340;"> Graphics Designing,Web Application,Flutter App,Blockchain,and other common windows softwares.</span>
  <br><br>
  With six years of experience in full-stack softwares development and systems architecture, we are confident we will be an excellent fit for any kind of software design and development. Our experience has provided us with the innovative and technical skills necessary to successfully provide customer request with multifaceted technical solutions across a wide range software platforms.
<br><br>
At New Enterprise, we are responsible for leading the development for three high-traffic ecommerce websites that offer 12 million monthly users customizable documents.we were instrumental in structuring several internal systems comprising order entry/management tools, conversion/revenue reporting, and production workflow tracking, as well as designed custom REST APIs built in Python, PHP, and NodeJS. We also successfully collaborate on solutions with our product, QA, and marketing teams to offer the best user experience to build higher customer lifetime value.
<br><br>
We have refined our strengths through six years of experience in programming, where we provided solutions in database technology, programming, operating systems. The following is a snapshot of our broader technical skills:
<ol type="i">
  <li>Web Design (Html5 , CSS3 , Javascript , Jquery , Ajax).</li>
  <li>Web Development (Node js , Python , PHP,)</li>
  <li>Database Development (CouchDB , LevelDB , MongoDB , MySQL)</li>
  <li>Blockchain Technology (Hyperledger Fabric)</li>
  <li>Flutter(Android,IOS)</li>
  <li>Windows Form Application (C++ , C#)</li>
  <li>Graphics Design</li>
  <li>CMS</li>
  <li>Project Management</li>
  
</ol>

<Br><br>
If you are interesting to develop/desgin any kind of software from us, then freely contact directly or through whatsapp on this number<span style="color: #fb6340;">  347-874-1697</span>.Insallah we will provide you best quality service on given time with reasionable charges.
</div>
</div>
<div style="clear: both;margin-top: 100px;"></div>