<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="stylesheet" href="css/style.css" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Malik</title>
</head>

<body>
<div class="head">
<div style="width:980px; height:70px;background-color:#fff; border-radius:5px
;">
<img style="margin-left:30px;margin-top:5px;float:left;" src="img/final.png" />

<div style="float:left;margin:15px 0px 0px 35px;width:405px; border-radius:5px; background:#FFF;border:solid #fb6340 ">
<form>
<input type="text" placeholder="Enter Keyword to Search" style="font-size:18px;width:300px; height:20px;border-radius:5px;border:none;padding:8px;" />
<input type="submit" class="submit" value=" " />
</form>
</div>

<div style="float:left;color:#fff;font-size:16px;font-weight:bold;margin-top:4px;">
<ul>
<li style="margin-left:-20px;"><a href="#">Login</a></li>

<li><a href="#">Register</a></li>
</ul>
</div>


</div>

<div class="menu" >
<div style="width:980px;margin:0px auto; color:#fb6340">
<ul>

<li ><a class="img" href="#" style="background-color:#fb6340;color:#FFF">Home</a></li>

<li><a href="#">AboutUs</a></li>

<li><a href="#">Windows</a></li>

<li><a href="#">Mac</a></li>
<li><a href="#">Linux</a></li>

<li><a href="#">Android</a></li>


<li><a href="#">Custom Software Support</a></li>

<li><a href="#">ContactUs</a>

</li>




</ul>
</div>

</div>
<div style="width:980px;"> 
<img src="img/s.jpg" width="950px" height="220px"  />
</div>

<div class="content">
<div style="width:980px;padding:10px;margin-top:10px;border:solid #fb6340;border-left:none;border-right:none;font-size:24px; font-weight:bold;background-color:#FFF9F9;">
Papular Softwares
</div>




</div>


<div style="margin-top:120px">
<div class="footer" style="width:980px;background-color:#fb6340; border-radius:5px; text-align:center;clear:both; color:#FFF; font-weight:bold;margin:0px auto;padding:5px;">
Copyright © USAF.Com.PK 2019
</div>


</body>
</html>
