<div style="width:300px;margin:20px 0px 10px 65px;border:solid #fb6340;border-left:none;border-right:none;font-size:18px; font-weight:bold;background-color:#fb6340;border-radius: 20px 150px 20px 150px;padding:5px 0px 5px 25px;color:#FFF;">
  Welcome to Admin Login
  </div>
<form class="form" action="/register_admin_confirm" method="post"  style="border:solid thin #fb6340;margin:40px auto;width:800px;">
  
  

    

  <div style="width:500px; margin:0px auto;">
    <div class="form-field">
    
      <input class="input" placeholder="Enter Name" type="text" class="form-control" name="name" required>
    </div>
  <div class="form-field">
    
    <input class="input" placeholder="Enter Email Adddress" type="text" class="form-control" name="email" required>
  </div>
  <div class="form-field">
    
    <input class="input" placeholder="**************" type="password" class="form-control" name="pass" required>
  </div>
 
  
  <button id="submitButton" name='btnSubmit' type="submit"  class="btn">Login</button>

  <div class='progress' id="progressDivId">
    <div class='progress-bar' id='progressBar'></div>
    <div class='percent' id='percent'>0%</div>
</div>
<div style="height: 10px;"></div>
<div id='outputImage'></div>
</form>
</div>
<div style="clear: both;margin-top: 100px;"></div>